body{
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.778);
}
header{
    display : flex;
    background-color: rgb(2, 15, 63);
    color: white;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    align-items: center;
}  /*  Here i defined some top and left width to give a position to the header. I also defined padding for out heading. I changed display to flex because everything was stacked vertically , now everything is horizontally.  */     

header > h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5rem;
    margin-top: 15px  ;
    margin-left: 40px;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.9);
} /*  i used child combinator here because i wanted to simply target the h1 tag.  */

header span {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    margin-top: 15px  ;
    margin-left: 40px;
    margin-bottom: 15px;
    color: #b6c7ff; /* soft accent */
} /*gave it a dictinct effect.*/

header img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    filter: brightness(0) invert(1);
} /*used a invert filter to change png color from black to white*/

.nav-list {
    padding: 40 ;
    margin-left: auto;
    text-align: right;
}

.nav-list li {
    display: inline-block;
    margin-right: 80px;
    list-style: none;
}

.nav-list a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
    font-size: 0.95rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} /*resetted the font decoration to none so default underline dissappears.*/

.nav-list a:hover{
    color:rgb(175, 231, 251);
} /*used pseudo-selector , then used a hover class to set a hover effect. */
.nav-list a:focus{
    outline-style:auto;
    color: aqua;
}
.nav-list a:active{
color: rgb(68, 68, 250);
}

.navBar {
    margin-left: auto;
}

#intro-base{
    margin-top: 0px;
    padding-top: 80px;
    background-image: linear-gradient(rgb(2, 15, 63),rgb(0, 0, 186));
    width: 100%;
    padding-bottom: 80px;
}/*base intro have padding of 140 so i can push main intro div down.*/

#intro{
    max-width: 1700px;
    width: 100%;
    height:900px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-image: url("background-light.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border: 1px solid skyblue;
    box-shadow: 0 20px 40px rgba(0, 4, 43, 0.816);
    border-radius: 100px;
    display: flex;
    flex-direction: row;
} /*i again used flex property here and used direction : row to stack items horizontally . i added box shadow for depth */

#intro-h2{
    margin-top: 250px !important;
    margin-left: 770px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:white;
   font-size: 5rem;
   font-weight: 900 ;
   display: inline;
}

#airplane{
    width: 200px;
    margin-top: 150px;
    margin-right: 0px;
    display: inline;
} /*airplane image in div*/

#intro-img {
    width: 800px;
    height: auto;
}

#about-section{
    background-color: rgb(0, 0, 186);
    margin-top: 0px;
    padding-top: 140px;
    width: 100%;
    padding: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

#about{
    background-color:aliceblue;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    height: 1000px;
    max-width: 1800px;
    width: 100%;
    margin-left:auto ;
    margin-right: auto;
    display: block;
    border-radius: 100px;
    border: 1px solid rgba(53, 53, 115, 0.25);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.816);
}

#popular{
    font-size: 2.9rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-bottom: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#popular-p{
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#destinations-card {
    max-width: 1700px;
    width: 100%;
    height: 600px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}

.cards{
    max-width: 400px;
    width:100%;
    height: 650px;
    margin-left: 14px;
    margin-right: 14px;
    padding: 10px;
    padding-bottom: 20px;
    border: solid rgb(214, 214, 214);
    border-radius: 40px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(249, 249, 233);
}

.card-imgs{
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 30px;
    object-fit: cover;
}

.card-h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 37, 45);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card-p{
    font-family: monospace;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.cards:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
    box-shadow:0 20px 40px rgba(157, 157, 157, 0.816);
}

.card-btn{
    max-width: 150px;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 120px;
    padding-top:2px ;
    padding-bottom: 2px;
    background-color: rgb(1, 1, 84);
    color: whitesmoke;
    display:block;
    text-align: center;
}
.card-btn:hover{
    transform: scale(1.05);
    transition: 0.4s ease;
    background-color: #b6c7ff;
    color: rgb(1, 1, 84);
    border: 2px solid rgb(1, 1, 84);

}

.c-btn{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}