body{
    background: linear-gradient(rgb(1, 1, 23),rgb(10, 19, 93));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} /*i used linear greadient to improve color contrast.*/

#card1 {
    width: 500px;
    margin-top: 115px;
    padding: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(rgb(248, 217, 158), rgb(255, 255, 255));
    border-radius: 60px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
} /*used flex and flex direction : column to stack items vertically . */

#card-image{
    max-width: 100%;
    border-radius: 40px;
}

#queen {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    margin-top: 15px;
    margin-bottom: 1px;
    text-decoration:underline;
    color: rgb(74, 40, 0);
}
#des1{
    font-family:monospace;
    font-size: 1.5rem;
    font-weight: 550;
}



.card-footer {
    text-align: center;
    font-size: 1.9rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(248, 183, 3);
    border-radius: 50px;
    color: white;
    font-weight: 550;
    padding-bottom: 8px;
 } /*created a footer for card to give rating and category for the location.*/
.card-footer span {
    font-size: 3.4rem;
    padding-left: 15px;
    padding-right: 15px
} /*used "|" for spacing .*/